# Python
__pycache__/
*.py[cod]
*$py.class

# Sensitive files
config.py
dontshare.py
**/dontshare.py
.env
.env.*

# Data files
data/*.csv
data/*.txt

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db